@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    /* Colors */
    --brand-primary: 125 43% 51%;
    --brand-primary-complement: 0 0% 98%;

    --brand-secondary: 139 53% 39%;
    --brand-secondary-complement: 0 0% 98%;

    --brand-tertiary: 139 52% 23%;
    --brand-tertiary-complement: 0 0% 98%;

    --brand-accent: 46 90% 55%;
    --brand-accent-complement: 0 0% 98%;

    --layer-primary: 0 0% 98%;
    --layer-secondary: 0 0% 96%;
    --layer-tertiary: 0 0% 94%;

    --layer-primary-foreground: 0 0% 12%;
    --layer-secondary-foreground: 0 0% 16%;
    --layer-tertiary-foreground: 0 0% 20%;

    /* Background && Foreground */
    --background: var(--layer-primary);
    --foreground: var(--layer-primary-foreground);

    --card: var(--layer-secondary);
    --card-foreground: var(--layer-secondary-foreground);

    --popover: var(--layer-tertiary);
    --popover-foreground: var(--layer-tertiary-foreground);

    --primary: var(--brand-tertiary);
    --primary-foreground: var(--brand-tertiary-complement);

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: var(--layer-tertiary);
    --muted-foreground: var(--layer-tertiary-foreground);

    --accent: var(--brand-accent);
    --accent-foreground: var(--brand-accent-complement);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --success: 125 43% 51%;
    --success-foreground: 139 52% 23%;

    --caution: 46 90% 55%;
    --caution-foreground: 0 0% 98%;

    /* //TODO Detailing */
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    /* //TODO Charts */
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    /* //TODO Border */
    --radius: 0.5rem;
  }

  /* //TODO Dark Mode */
  .dark {
    /* Colors */
    --brand-primary: 125 43% 51%;
    --brand-primary-complement: 0 0% 12%;

    --brand-secondary: 139 53% 39%;
    --brand-secondary-complement: 0 0% 12%;

    --brand-tertiary: 139 52% 23%;
    --brand-tertiary-complement: 0 0% 12%;

    --brand-accent: 46 90% 55%;
    --brand-accent-complement: 0 0% 12%;

    --layer-primary: 0 0% 98%;
    --layer-secondary: 0 0% 96%;
    --layer-tertiary: 0 0% 94%;

    --layer-primary-foreground: 0 0% 12%;
    --layer-secondary-foreground: 0 0% 16%;
    --layer-tertiary-foreground: 0 0% 20%;

    /* Background && Foreground */
    --background: var(--layer-primary);
    --foreground: var(--layer-primary-foreground);

    --card: var(--layer-secondary);
    --card-foreground: var(--layer-secondary-foreground);

    --popover: var(--layer-tertiary);
    --popover-foreground: var(--layer-tertiary-foreground);

    --primary: var(--brand-tertiary);
    --primary-foreground: var(--brand-tertiary-complement);

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: var(--layer-tertiary);
    --muted-foreground: var(--layer-tertiary-foreground);

    --accent: var(--brand-accent);
    --accent-foreground: var(--brand-accent-complement);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --success: 125 43% 51%;
    --success-foreground: 139 52% 23%;

    --caution: 46 90% 55%;
    --caution-foreground: 0 0% 98%;

    /* //TODO Detailing */
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    /* //TODO Charts */
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    /* //TODO Border */
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.article-enter {
  opacity: 0;
  transform: translateY(20px); /* Start slightly below */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Smooth transition */
}

.article-visible {
  opacity: 1;
  transform: translateY(0); /* Move to its original position */
}